# Dominio de la tienda Shopify (sin https)
SHOPIFY_STORE_DOMAIN=ba6703.myshopify.com

# Token de Admin API con permisos write_orders
SHOPIFY_ADMIN_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxx

# Última versión estable Admin API
SHOPIFY_API_VERSION=2026-04
